


    *{
        box-sizing: border-box;
     }

    
    .head{
        background-color: rgb(126, 20, 233);
        color: rgb(248, 249, 247);
        
    }
    body{
        margin: 0%;
        padding: 0%;
        background-color: brown;
        color: whitesmoke;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }
    .leftContainer{
        float: left;
        width: 40%;
    }
    .midContainer{
        float: left;
        width: 40%;
    }
    .rightContainer{
        float: left;
        width: 20%;
    }
    #btnday{
        background-color: rgb(138, 25, 25);
        color: whitesmoke;
        border:none;
        border-radius: 5px;
        padding: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #btnday:hover{
        background-color: rgb(215, 63, 63);
    }
     #btnmonth{
        background-color: rgb(138, 25, 25);
        color: whitesmoke;
        border:none;
        border-radius: 5px;
        padding: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #btnmonth:hover{
        background-color: rgb(215, 63, 63);
    }
      
     #btncountry{
        background-color: rgb(138, 25, 25);
        color: whitesmoke;
        border:none;
        border-radius: 5px;
        padding: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #btncountry:hover{
        background-color: rgb(215, 63, 63);
    }

        