
#container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
button{
    font-size: 1.4rem;
    padding: 10px 15px;
    border: none;
    background-color: rgb(144, 6, 6);
    color:whitesmoke;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(247, 68, 68);
}
button:active{
    background-color:rgb(247, 68, 68); 
}

input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;

}